.confirmation-box
  h1 Your form has been submitted
  p 
    | Your juror number is
    strong {{ vm.juror.id }}
h2.heading-medium What happens next?
p More information around what this means, what will happen next, how and why the bureau will contact them about their form.
p Further recommended reading details.
ul.list-bullet
  li Gov.uk website...
  li YouTube videos...

