.confirmation-box
  h1 ✔&nbsp;&nbsp;Your application has been submitted
  p 
    | Your juror number is
    strong {{ vm.juror.id }}
p You should hear back from us within the next 10 working days. We’ll contact you if we have any questions.
h2.heading-medium What happens next?
ul.list-bullet
  li If your jury service is confirmed, we’ll send you an information pack about the court
  li It will include details on how to get there, a guide to jury service, and the forms you need to claim expenses and loss of earnings 
  li If we decide that you can’t be a juror on this occasion we’ll also be in touch to let you know
h2.heading-medium Get ready to be a juror
ul.list-bullet
  li 
    | Find out what it’s like to be a juror by&nbsp;
    a(href='https://www.youtube.com/watch?v=JP7slp-X9Pc', rel='external') watching the video 'Your role as a juror'
  li
    | Read&nbsp;
    a(href='https://www.gov.uk/jury-service') more about jury service
    |  including discussing the trial and what you can claim
h2.heading-medium Help your employer get ready for your jury service
p 
  | There’s information available online to help your employer understand their responsibilities when you go on jury service. That includes:
ul.list-bullet
  li
    a(href='https://www.gov.uk/giving-staff-time-off-jury-service') giving you time off for jury service
  li
    a(href='https://www.gov.uk/giving-staff-time-off-jury-service/paying-staff-on-jury-service') their options for paying you
h2.heading-medium If you have any questions
p Contact the Jury Central Summoning Bureau, quoting your juror number, above.
p
  | Telephone: 0845 803 8003 (calls are charged at a local rate) or 020 7202 6800
  br
  | Lines are open Monday to Thursday 9am to 5pm and Friday 9am to 3pm.
  br
  | Email:&nbsp;
  a(href='mailto:jurysummoning@hmcts.gsi.gov.uk') jurysummoning@hmcts.gsi.gov.uk
p You can also contact the Welsh Language Helpline on 0800 212 368.
