h1.heading-xlarge Details of your jury service
p You must go to the court on the date and at the time below.
.panel-indent.large.panel-background
  p.bold-medium
    span(ng-bind='vm.juror.court.name')
    br
    span(ng-bind-html='vm.juror.court.address|nl2br')
  p.bold-medium {{ vm.juror.datetime | date:'H:mma on EEEE d MMMM yyyy'}}
  p 
    | {{ vm.juror.name }}
    br
    | {{ vm.juror.address }}
hr.line
form.form(name='profileForm', ng-submit='vm.submit()', novalidate)
  fieldset
    legend.form-label-bold How would you like to respond to your jury summons?
    .form-group
      label.block-label(for='accept')
        input(type='radio', value='accept', id='accept', name='response', ng-model='vm.formData.response')
        | Accept this date and complete your form
      label.block-label(for='delay')
        input(type='radio', value='delay', id='delay', name='response', ng-model='vm.formData.response')
        | Delay until a later date
      label.block-label(for='excuse')
        input(type='radio', value='excuse', id='excuse', name='response', ng-model='vm.formData.response')
        | Apply to be excused
  fieldset
    .form-group
      input.button.button-get-started(type='submit', value='Start now')
hr.line
section
  h2.bold-medium Get details about the court
  p Find out how to get there, when it’s open, and what facilities are on offer.
  p
    a(href='{{ vm.juror.court.url }}', rel='external') Find out more about {{ vm.juror.court.name }}
