h1.heading-xlarge Your jury service
p Please find the date and court details below.
.panel-indent.large.panel-background
  p.bold-medium
    | {{ vm.juror.court }}
    br
    | {{ vm.juror.datetime | date:'H:mma, d MMMM yyyy'}}
  p 
    | {{ vm.juror.name }}
    br
    | {{ vm.juror.address }}
hr.line
form.form(name='profileForm', ng-submit='vm.submit()', novalidate)
  fieldset
    legend.form-label-bold How would you like to respond to your jury summons?
    p.hint Short intro info around their options - once deferral per 12months, excusal reason to be really good. More info in the guide below or a direct link to the digital guide.
    .form-group
      label.block-label(for='accept')
        input(type='radio', value='accept', id='accept', name='response', ng-model='vm.formData.response')
        | Accept and complete your summons
      label.block-label(for='delay')
        input(type='radio', value='delay', id='delay', name='response', ng-model='vm.formData.response')
        | Delay your jury service
      label.block-label(for='excuse')
        input(type='radio', value='excuse', id='excuse', name='response', ng-model='vm.formData.response')
        | Apply to be excused
  fieldset
    .form-group
      input.button.button-get-started(type='submit', value='Start now')
hr.line
section
  h2.bold-medium Court details
  p How to get there, location, things they need to know - map of the location.
  p
    a(href='') Find out more about London Crown Court  
hr.line
section
  h2.bold-medium Guide and jury service information
  p What is jury service, why we need them. What is expected of the jurors - timelines, expenses
  p
    a(href='') Find out more about jury service
