h1.heading-xlarge Your jury service
p
  a(ui-sref='personalDetails') Personal details
p
  a(ui-sref='login') Login
form(action='')
  .form-group
    input.button(type='submit', value='Complete my application')
