.confirmation-box {
  background-color: $turquoise;
  padding: 40px 20px;
  margin: 20px 0;
  color: $white;
  text-align: center;

  h1 {
    @include bold-36;
    margin-bottom: 20px;
  }

  p {
    @include bold-24;
    margin: 0;

    strong {
      @include bold-36;
      display: block;
    }
  }
}
