{{<form_layout}}

{{$pagetitle}}Disability and special needs{{/pagetitle}}

{{$formcontent}}

  <fieldset class="form-group">
    <legend class="form-label">Do you have any disability or impairment...?</legend>
    
    <div class="inline">
      <label for="disabilities-yes" class="block-label">
        <input type="radio" value="1" id="disabilities-yes" name="disabilities">
        Yes
      </label>

      <label for="disabilities-no" class="block-label">
        <input type="radio" value="0" id="disabilities-no" name="disabilities">
        No
      </label>
    </div>
  </fieldset>

{{/formcontent}}

{{/form_layout}}
