h1.heading-large Convictions
p You are disqualified from jury service if you have:
ul.list-bullet
  li in the United Kingdom, the Channel Islands or the Isle of Man
  li or in relation to a service offence under the Armed Forces Act 2006 anywhere in the world
p.bold-small in the last 10 years:
ul.list-bullet
  li served any part of a sentence of imprisonment or detention
  li received a suspended sentence of imprisonment or a suspended order for detention
  li been subject to a community order (including a rehabilitation, punishment, punishment and rehabilitation, drug treatment and testing or drug abstinence order)
  li been subject to any equivalent order under the law of Scotland, Northern Ireland, Isle of Man or any of the Channel Islands
  li been subject to a community or overseas community order under the Armed Forces Act 2006
p.bold-small or ever been sentenced to:
ul.list-bullet
  li imprisonment, or a term of detention, of 5 years or more
  li imprisonment for public protection or detention for public protection
  li imprisonment, custody or detention for life
  li an extended sentence under either of sections 226A, 226B, 227 or 228 of the Criminal Justice Act 2003 (including such a sentence imposed as a result of section 219A, 220, 221A or 222 of the Armed Forces Act 2006) or section 210A of the Criminal Procedure Act (Scotland) Act 1995
  li detention at her Majesty’s pleasure or during the pleasure of the Secretary of State
h2.bold-medium Warning:
p You may be committing an offence, and be fined up to £5,000 if convicted, if you serve on a jury knowing you are disqualified for any of these reasons.
