h1.heading-large Mental Health Act 1983 and Mental Capacity Act 2005
p You are disqualified from jury service if you are, for the time being:
ul.list-bullet
  li liable to be detained under the Mental Health Act 1983
  li resident in a hospital on account of a mental disorder within the meaning of the Mental Health Act 1983
  li subject to a guardianship order under section 7 of the Mental Health Act 1983, or to a community treatment order under section 17A of that Act
p Or if you lack mental capacity to serve as a juror within the meaning of the Mental Capacity Act 2005.
h2.bold-medium What does mental capacity mean?
p Mental capacity is the ability to make a decision for yourself.
p If you can’t do this you are said to ‘lack capacity’ under the Mental Capacity Act 2005. This must be due to an impairment of or disturbance in the functioning of the mind or brain which may be caused by:
ul.list-bullet
  li illness
  li injury
  li learning disability
  li mental health problems
p To have capacity you must be able to:
ul.list-bullet
  li Understand the information that is relevant to the decision you want to make
  li Hold on to the information long enough to be able to make the decision
  li Weigh up the information available to make a decision
  li Communicate the decision by any means.
