h1.heading-xlarge Delaying your jury service
p You may be able to delay (‘defer’) jury service, eg if you: have a holiday booked are having an operation 
p You can only defer jury service once. If you defer you must say when you will be available for jury service over the next 12 months. 
p You may need to prove you have a genuine reason if you say you won’t be available at any time during this period, eg a letter from your doctor.
.form-group
  label.form-label-bold(for='reason') Why do you want to delay jury service?
  p.form-hint Please tell us why you want to delay
  textarea#reason.form-control.form-control--full(name='reason', rows='6', ng-model='vm.formData.reason', required)
.form-group
  label.form-label-bold(for='availableDates') When do you want to do jury service?
  p.form-hint Please give all dates you will be available in the next 12 months
  textarea#availableDates.form-control.form-control--full(name='availableDates', rows='6', ng-model='vm.formData.availableDates', required)

