h1.heading-xlarge Will you need help in court?
yesno(
  model='vm.formData.disabilities',
  name='disabilities',
  label='Do you have a disability or special need that means you’ll need extra help carrying out your jury service?'
)
.panel-indent(ng-if="vm.formData.disabilities === 'Yes'")
  fieldset.form-group
    legend.form-label I have:
    label.block-label(for='visual')
      input(type='checkbox', value='Visual Impairment', id='visual', name='visual', ng-model='vm.formData.visual')
      | Visual impairment
    label.block-label(for='mobility')
      input(type='checkbox', value='Limited mobility', id='mobility', name='mobility', ng-model='vm.formData.mobility')
      | Limited mobility
    label.block-label(for='hearing')
      input(type='checkbox', value='Hearing impairment', id='hearing', name='hearing', ng-model='vm.formData.hearing')
      | Hearing impairment
    label.block-label(for='other')
      input(type='checkbox', value='Other', id='other', name='other', ng-model='vm.formData.other')
      | Other
  .form-group
    label.form-label(for='disabilitiesInfo') I will need:
    textarea#disabilitiesInfo.form-control(name='disabilitiesInfo', rows='3', ng-model='vm.formData.moreInfo')
  p We may also be able to arrange a visit to the court for you to make sure the facilities meet your specific needs.
