h1.heading-xlarge Your occupation

fieldset.form-group
  legend.form-label Have you in the last 5 years been in the police, CPS, or...?
  .inline
    label.block-label(for='occupation-yes')
      input#occupation-yes(type='radio', value='1', name='occupation', ng-model='occupation')
      | Yes
    label.block-label(for='occupation-no')
      input#occupation-no(type='radio', value='0', name='occupation', ng-model='occupation')
      | No
