h1.heading-xlarge Are you employed by the Criminal Justice System?
yesno(
  model='vm.formData.occupation',
  name='occupation',
  label='Do you work for the police, HM Prison Service or any prosecuting authority?'
)
.panel-indent(ng-if="vm.formData.occupation === 'Yes'")
  p Give details about your job. Please also check your organisation’s HR policy on jury service.
  .form-group
    label.form-label(for='vm.formData.jobTitle') Job title
    input#jobTitle.form-control(type='text', name='jobTitle', ng-model='vm.formData.jobTitle', required)
  .form-group
    label.form-label(for='vm.formData.organisation') Organisation
    input#organisation.form-control(type='text', name='organisation', ng-model='vm.formData.organisation', required)
