h1.heading-xlarge Qualification

fieldset.form-group
  legend.form-label Have you lived in the UK, channel islands or ...?
  p.form-hint Extra help text area to give more information
  .inline
    label.block-label(for='residence-yes')
      input#residence-yes(type='radio', value='1', name='residence', ng-model='vm.formData.residence', required)
      | Yes
    label.block-label(for='residence-no')
      input#residence-no(type='radio', value='0', name='residence', ng-model='vm.formData.residence', required)
      | No
fieldset.form-group
  legend.form-label Question about the mental capabilities...?
  p.form-hint Extra help text area to give more information
  .inline
    label.block-label(for='mental-health-yes')
      input#mental-health-yes(type='radio', value='1', name='mentalHealth', ng-model='vm.formData.mentalHealth', required)
      | Yes    
    label.block-label(for='mental-health-no')
      input#mental-health-no(type='radio', value='0', name='mentalHealth', ng-model='vm.formData.mentalHealth', required)
      | No
fieldset.form-group
  legend.form-label Are you on bail?
  p.form-hint Extra help text area to give more information
  .inline
    label.block-label(for='bail-yes')
      input#bail-yes(type='radio', value='1', name='bail', ng-model='vm.formData.bail', required)
      | Yes
    label.block-label(for='bail-no')
      input#bail-no(type='radio', value='0', name='bail', ng-model='vm.formData.bail', required)
      | No
fieldset.form-group
  legend.form-label Have you even been convicted?
  p.form-hint Extra help text area to give more information
  .inline
    label.block-label(for='convictions-yes')
      input#convictions-yes(type='radio', value='1', name='convictions', ng-model='vm.formData.convictions', required)
      | Yes
    label.block-label(for='convictions-no')
      input#convictions-no(type='radio', value='0', name='convictions', ng-model='vm.formData.convictions', required)
      | No
