{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$bodyClasses}}" ng-app="app{{/bodyClasses}}

{{$pageTitle}}
  Jury Summons
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
  <main id="content" role="main">
    {{>includes/phase_banner}}
    
    <div class="grid-row">
      <div class="column-three-quarters" ui-view></div>
    </div>
  </main>
{{/content}}

{{$footerSupportLinks}}
  <h2 class="visuallyhidden">Support links</h2>
  <ul>
    <li><a href="https://gov.uk/help">Help</a></li>
    <li><a href="https://gov.uk/help/cookies">Cookies</a></li>
    <li><a href="https://gov.uk/contact">Contact</a></li>
    <li>Built by <a href="https://mojdigital.blog.gov.uk/"><abbr title="Ministry of Justice">MOJ</abbr> Digital</a></li>
  </ul>
{{/footerSupportLinks}}

{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}

{{/govuk_template}}
