h1.heading-xlarge Your details have been deleted
p Please make sure you arrange your jury service within 7 days of receiving your letter.
p
  a.button.button-get-started(href='/jury-service', target='_self') Start again
p
  a(href='https://www.gov.uk/jury-service') Get more information about being a juror
